@font-face {
    font-family: 'OpenSans', monospace, serif;
    src: url('/fonts/OpenSans-Regular.ttf')
}

html {
    overflow-y: scroll
}

:root { 
    --bgcolor: #ecdbe3; 
    --fontcolor: #4a2738;
    --linkcolor: #a50c50; 
    --visitedcolor: #a50c50; 
    --precolor: #fff; 
    --prebgcolor: #383838; 

}

@media (prefers-color-scheme: dark) {
    :root{
        --bgcolor: #321b26; 
        --fontcolor: #ecdbe3; 
        --linkcolor: #c67197; 
        --visitedcolor: #c67197;
        --precolor: #fff; 
        --prebgcolor: #383838;  
    }
}


body{
    max-width:800px;
    margin:40px auto;
    padding:0 5vh;

    font:14px/1.5 monospace;
    /*font:14px/1.5 Georgia;*/
    color:var(--fontcolor);
    background: var(--bgcolor)}
     
    a:link{
        color: var(--linkcolor)
    }
    
    a:visited{
        color: var(--visitedcolor)
    }
    
    a:active{
        color: var(--visitedcolor)
    }
    
    h1,h2,h3{line-height:1.2; font: monospace;
    
}

p > code{
    color: var(--precolor); 
    background: var(--prebgcolor); 
    padding:2px
}

code{
    color: var(--precolor); 
    background: var(--prebgcolor); 
    padding:2px
}

pre{
    color: var(--precolor); 
    background: var(--prebgcolor); 
    padding:24px; 
    overflow-x: auto
}

article{
    padding:24px 0
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

figcaption {
    color: #888; 
    font: 12px/1.5 monospace;
    /*font: 12px/1.5 Georgia;*/
    text-align: center;
}

figure {
    margin: auto
}

img {
    display: block; 
    max-width: 90%; 
    height: auto; 
    margin: auto;
    border-radius: 2%;
}

.summary-content {
    display: flex;
    flex-flow: row;
    padding: 2px;    
    padding-top: 10px;
}

.summary-content > div {
    flex: 1;
    margin:auto;
}

.summary-content > img {
    max-height: 120px;
    max-width: 180px;

    margin-right: 2%;
    border-radius: 5%;
}

@media screen and (max-width: 700px) {
  .summary-content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

}

.summary-content > img {
    max-height: initial;
    max-width: 90%;

    margin: auto;
    border-radius: 2%;
}

.summary-content > div {    
    margin: 10px auto;
    max-width: 90%;
}
}